<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>For admins</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
  </head>
  <body>

{% extends "base.html" %}
{% load static %}
{% block content %}
  <h1>Calendar</h1>
  <form method="post">
  {% csrf_token %}
  <label for="selected_date">Select a date:</label>
  <input type="date" id="selected_date" name="selected_date" required>
  <br>
  <label for="filter_object">Filter by object:</label>
  <input type="text" id="filter_object" name="filter_object">
  <button type="submit">Filter</button>
  <button type="submit" name="download">Download Excel</button>
</form>
  {% if tdata %}
    <h2>Objects added on {{ selected_date }}</h2>
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>Login</th>
          <th>ID System</th>
          <th>Object</th>
          <th>ID Object</th>
          <th>Is Active</th>
          <th>Date Imported</th>
        </tr>
      </thead>
      <tbody>
        {% for data in tdata %}
          <tr>
            <td>{{ data.login }}</td>
            <td>{{ data.idsystem }}</td>
            <td>{{ data.object }}</td>
            <td>{{ data.idobject }}</td>
            <td>{{ data.isactive }}</td>
            <td>{{ data.dimport }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% endif %}
{% endblock %}


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
  </body>
</html>
